button {
    width: 80px;
    height: 40px;
    margin-left: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
    background-color: rgb(52, 147, 224);
}
  
button:hover {
    color: white;
    transition: background-color 1s;
    background-color: rgb(7, 67, 117);
}

li{
    list-style-type: none;
}